.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
    justify-content: center;
}

.product-detail__container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container__slider {
    justify-content: center;
}